In [2]:
import numpy as np
import pandas as pd
import os

file_dir="/home/sunshuo/qml/trademaster_new/dj30/sac/results"
all_file_list=os.listdir(file_dir)
all_result=[]
for single_file in all_file_list:
    single_data_frame=pd.read_csv(os.path.join(file_dir,single_file))
    all_result.append(single_data_frame)

In [3]:
result=all_result[0]

In [4]:
result

           date   total assets
0    2021-01-04  100000.000000
1    2021-01-05  100306.339014
2    2021-01-06  101712.991065
3    2021-01-07  102279.524368
4    2021-01-08  102361.084382
..          ...            ...
247  2021-12-27   99910.945363
248  2021-12-28  100150.487201
249  2021-12-29  100296.853270
250  2021-12-30  100028.488242
251  2021-12-31   99842.670706

[252 rows x 2 columns]

In [5]:
reward_list=[0]
for i in range(1,len(result)):
    reward=result.iloc[i]["total assets"]-result.iloc[i-1]["total assets"]
    reward_list.append(reward)
result["daily_return"]=reward_list
result

           date   total assets  daily_return
0    2021-01-04  100000.000000      0.000000
1    2021-01-05  100306.339014    306.339014
2    2021-01-06  101712.991065   1406.652050
3    2021-01-07  102279.524368    566.533303
4    2021-01-08  102361.084382     81.560014
..          ...            ...           ...
247  2021-12-27   99910.945363    725.680150
248  2021-12-28  100150.487201    239.541838
249  2021-12-29  100296.853270    146.366069
250  2021-12-30  100028.488242   -268.365028
251  2021-12-31   99842.670706   -185.817535

[252 rows x 3 columns]

In [6]:
daily_return = result["daily_return"]
neg_ret_lst = result[result["daily_return"] < 0]["daily_return"]
tr = result["total assets"].values[-1]/result["total assets"].values[0]-1
sharpe_ratio = np.mean(daily_return) / \
            np.std(daily_return)*(len(result)**0.5)
vol = np.std(daily_return)
mdd = max((max(result["total assets"]) -
                  result["total assets"])/max(result["total assets"]))
cr = np.sum(daily_return)/mdd
sor = np.sum(daily_return)/np.std(neg_ret_lst) / \
np.sqrt(len(daily_return))

In [7]:
np.mean([1,2,3,4])

2.5